.text-decorator-none{
    text-decoration: none!important;
}
.caixa-post2{
    background-image: linear-gradient(to right,#a6c1ee,#fbc2eb) !important;
    padding: 4vh !important;
}

.chari2{
    display:flex; justify-content: space-between; align-items:center;
}

.titulo-lista-tema{
    text-align: center;
    font-weight: bold!important;
    font-size: 30px!important;
}

.profile-container{
    position:fixed!important;
    left: 0px;
    top: 12vh;
}
