.textos1 {
    font-weight: bold !important;
}

.imagem {
    background-image: url(https://i.imgur.com/WdnLxdv.png);
    background-repeat: no-repeat;
    width: 470px;
    min-height: 150px;
    background-size: cover;
    background-position: center;
}

.text-decorator-none {
    text-decoration: none;
}

.logo-telalogin {
    background-image: url(../../Assets/Img/Versão\ positiva\ -\ horizontal.png);
    background-repeat: no-repeat;
    width: 470px;
    min-height: 150px;
    background-size: cover;
    background-position: center;
    align-items: flex-end;
}