.text-decorator-none{
    text-decoration: none!important;
}

.tema-postagens{
    text-align: right !important;
    align-items: center;
    justify-content: right;
}

.caixa-post{
    background-color: #FDFCEF !important;
    border: none !important;
    padding: 3vh !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.chari{
    display:flex; 
    justify-content: space-between; 
    align-items:center;
}

.titulo-lista-post{
    text-align: center!important;
    font-weight: bold!important;
    font-size: 24px!important;
    background-color: #03051b;
    color: white;
    width: 240px !important;
    margin: auto !important;
    border-radius: 7px;
    padding: 6px;
    margin-bottom: 40px !important;
}

.tituloPost{
    font-weight: bold !important;
    margin-bottom: 5px !important;
}

.textoPost{
    font-size: 18px !important;
}

.btnCurtir{
    margin-left: 10px !important;
}

.btnPost{
    font-weight:400 !important;
}

.user-data{
    display: flex;
    flex-direction: row!important;
    align-items: center;
}

.user-picture{
    height: 75px!important;
    border-radius: 360px;
    margin: 10px;
}

.btnColor {
background-color:#03051b !important;
color:#FDFCEF !important
}

.btnDelColor { 
background-color: #b90a0a !important;
color:#FDFCEF !important

}