.text-decorator-none{
    text-decoration: none!important;
}

.tema-postagens{
    text-align: right !important;
    align-items: center;
    justify-content: right;
}

.caixa-post{
    background-image: linear-gradient(to right,#a6c1ee,#fbc2eb) !important;
    padding: 4vh !important;
}

.chari{
    display:flex; justify-content: space-between; align-items:center;
}