img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.icone{
    font-size: 150px !important;
    width: 300px;
    height: 300px;
    border-radius: 120% !important;
    padding: 20px 0 0px 0;
    background-color:black ;
    /* border-top-left-radius: 210px;
    border-top-right-radius: 210px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px; */
    

}

.integrante{
    display: flex;
    justify-content: center;
    margin: 10px;
    border: 10px ;
    border-radius: 0px;
}

.nomes{
    margin: 10px !important;
    font-size: 18px !important;
    text-align: center;
}

.redes{
    margin: 0 10px 20px 10px;
    /* font-size: 10px !important; */
    width: 5px;
}

.tituloSobreNos{
    padding: 20px 60px 0 60px;
    font-size: 60px !important;
    font-weight: bold !important;
}

.textoSobreNos{
    text-align: justify;
    padding: 20px 60px;
}

