.titulo{
    color: blue;
    text-align: center;
}

.img{
    width: 500px;
    height: 500px;
}

.text-decorator-none
{
    text-decoration: none;
}

.profile-container{
    position:fixed!important;
    left: 0px;
    top: 12vh;
}

.lista-postagem-container{
    display: flex!important;
    flex-direction: column;
    justify-content: right;
}