.appBar{
    background-color: transparent;
}

.corFundo{
    background-color: #F4F3E6;
}

.titulo{
    color: blue;
    text-align: center;
}

.img{
    width: 500px;
    height: 500px;
}

.text-decorator-none
{
    text-decoration: none;
}

.profile-container{
   margin-top: 10px;
}

/* .lista-postagem-container{
    display: flex!important;
    flex-direction: column;
    justify-content: right;
} */

.lista-postagem-container{
    margin-top: 20px;
}

.appbarHome{
    width: 1061px !important;
    margin: auto;
    background-color: #03051B !important;
    border-radius: 7px;
}

.container-principal{
    display:flex;
    justify-content: right;
}

.txtTab{
    font-weight: bold !important;
    font-size: 16px !important;
}

.txtTab:hover{
    text-decoration: underline;
}