.corFundo{
    background-color: #F4F3E6;
}

.titulo{
    color: blue;
    text-align: center;
}

.img{
    width: 500px;
    height: 500px;
}

.text-decorator-none
{
    text-decoration: none;
}

.profile-container{
   margin-top: 10px;
}

/* .lista-postagem-container{
    display: flex!important;
    flex-direction: column;
    justify-content: right;
} */

.container-principal{
    display:flex;
    justify-content: right;
}