.box1
{
    background-color: blue !important;
    height: 120px;
}

.box2
{
    background-color: blue !important;
    height: 60px;
}

.redes
{
    font-size: 60px !important;
    color: #ffffff;
}

.text
{
    color: #ffffff;
}