.box1
{
    background-color: #03051b !important;
    height: 120px;
}

.box2
{
    background-color: #03051b !important;
    height: 60px;
}

.redes
{
    font-size: 60px !important;
    color: #ffffff;
}

.text
{
    color: #ffffff;
}

.footer-container{
   position: relative;
}