.foto{
    width: 150px;
    /* border-radius: 120% !important; */
    padding: 20px;
    border-radius: 360px;
}

.integrante-right{
    display: flex;
    justify-content: right!important;
    margin: 10px;
    border: 2px ;
    border-radius: 7px;
    background-color: #1c1e3d;
}

.integrante-left{
    display: flex;
    justify-content: left!important;
    margin: 10px;
    border: 2px ;
    border-radius: 7px;
    background-color: #1c1e3d;
}

.nomes{
    margin: 10px !important;
    font-size: 18px !important;
    margin-bottom: 10;
    text-align: center;
    color: #ffffff;
}

.texto{
    padding: 50px;
    font-size: 18px !important;
    text-align: justify;
    color: #ffffff;
}

.redes{
    display: flex!important;
    align-items: center!important;
    flex-direction: column!important;
    font-size: 80px!important;
    margin: 10px!important;;
    padding: 5px!important;
    
}

.tituloSobreNos{
    padding: 20px;
    text-align: center;
    color:#1c1e3d;
    font-weight: bold !important;
    
}

.textoSobreNos{
    text-align: justify;
    padding: 20px 60px;
}