.icon{
    font-size: 150px !important;
    width: 150px;
    /* border-radius: 120% !important; */
    padding: 20px 0 0px 0;
    border-top-left-radius: 170px;
    border-top-right-radius: 170px;
    border-bottom-left-radius: 130px;
    border-bottom-right-radius: 130px;
}

.integrante{
    display: flex;
    justify-content: center;
    margin: 10px;
    border: 2px ;
    background-color: #1c1e3d;
    border-radius: 7px;
}

.nomes{
    margin: 10px !important;
    font-size: 18px !important;
    text-align: center;
    color: #ffffff;
}

.redes{
    margin: 0 10px 20px 10px;
    /* font-size: 10px !important; */
    width: 40px;
}

.tituloSobreNos{
    padding: 20px 60px 0 60px;
    font-size: 60px !important;
    font-weight: bold !important;
    background-image: url('https://github.com/ColaboraTechPI/Docs/blob/main/Logo/Transparente/Vers%C3%A3o%20negativa%20-%20vertical.png');
}

.textoSobreNos{
    text-align: justify;
    padding: 20px 60px;
}