.cursor
{
cursor:pointer;
color:#ffffff;
}

.text-decorator-none
{
    text-decoration: none;
}
.logo
{   background-image:url(https://raw.githubusercontent.com/ColaboraTechPI/Docs/main/Logo/Transparente/Versão%20negativa%20-%20horizontal%20%5BSF%5D.png);
    min-height: 10vh;
    width: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    /* font-size: 60px !important; */
    color: #ffffff;
}