.cursor
{
cursor:pointer;
color:#ffffff;
}

.text-decorator-none
{
    text-decoration: none;
}
.logo
{   background-image:url(https://images-ext-1.discordapp.net/external/Vfq3nuOL6z0AkQOVfnQhkJOS6obfj7Ql2iVhtus4QbA/https/raw.githubusercontent.com/ColaboraTechPI/Docs/main/Logo/Logo-v1.png?width=824&height=659);
    min-height: 10vh;
    width: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    /* font-size: 60px !important; */
    color: #ffffff;
}