.card-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    background-color: #03051B;
    margin: 64px 10px 10px 10px;
    height: 470px;
    width: 50vh;
}

.card-container-imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.card-container-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left!important;
}

.card-imagem{
    border-radius: 120px;
    max-width: 220px!important;
    max-height: 220px!important;
    margin: 20px;
}

h1 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 0 0;
    color: #FFF;
    text-align: center;
}

.textoProfile {
    margin: 0 0 25px 0;
    color: #FDFCEF;
    text-align: center;
}

.profilePostagem{
    display: flex!important;
    justify-content: center!important;
    border-radius:  7px 7px ;
    background-color: #03051B!important;
    margin: 10px;
    padding: 5px;
    border: #03051B solid 2px;
    width: 48vh;
}

.btnProfile{
    font-size: 16px!important;
    font-weight: bold!important;
    color: #FFF!important;
    width: 100%;
}

.profilePostagem:hover{
    display: flex!important;
    justify-content: center!important;
    border-radius:  7px 7px ;
    border: #03051B solid 2px;
    background-color: #F4F3E6!important;
    margin: 10px;
    padding: 5px;
    width: 48vh;
    
}

.btnProfile:hover{
    font-size: 16px !important;
    font-weight: bold !important;
    width: 100%;
    color: #03051B!important;
    background-color: #F4F3E6 !important;
}